# Masukkan Token Bot Telegram Anda yang didapat dari @BotFather di sini:
BOT_TOKEN=GANTI_DENGAN_TOKEN_BOT_ANDA

# Batas ukuran video dalam Megabytes (Maksimal download bot Telegram API adalah 20MB)
MAX_FILE_SIZE_MB=20
